.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.city-search {
    color: #CCCCCC;
    background-color: #6297B6;
    border: 0;
    border-bottom: 2px solid white;
    font-family: 'Nunito', sans-serif !important;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 8px;
    width: 100%;
}

.states {
    margin: 8px;
    width: 100%;
    font-size: 18px;
}

.button {
    margin: 8px;
    width: 100%;
    height: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #6297B6;
    border-radius: 5px;
}

.day {
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 3px 8px 2px rgb(104, 102, 102);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80px;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

.day img {
    margin: 5px 0px;
    width: 40px;
    height: 40px;
}

.results {
    display: flex;
    flex-direction: row;
}

.conditions {
    margin: 5px 0px;
}

.empty {
    height: 175px;
}

.recent-searches {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 1.9em;
    font-weight: 200 !important;
}

.recent-searches h2 {
    margin: 0px 15px;
}

input:focus {
    outline: 0;
}