@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #6297B6;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif !important;
}

.header {
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: 1px;
}